<div class="card  mb-3 tweet-container retweet-depth-<%= tweet_depth(tweet) %>" id="tweet_<%= tweet.id %>" data-controller="likes" data-likes-tweet-id-value="<%= tweet.id %>">
  <div class="card-body ">
    <h5 class="card-title"><%= tweet.user.name %></h5>
    <p class="card-text"><%= tweet.content %></p>
    <p class="card-text">
      <small class="text-small text-secondary"><%= time_ago_in_words(tweet.created_at) %> ago</small>
    </p>

    <!-- Actions: Like, Retweet & Reply -->
    <div class="tweet-actions d-flex align-items-center gap-3">

      <!-- Retweet Button -->
      <div class="d-flex align-items-center ">
        <%= link_to retweet_tweet_path(tweet), method: :post, data: { turbo_method: :post }, class: "retweet-button mx-0" do %>
          <i class="fas fa-retweet text-secondary"></i>
        <% end %>
        <span class="retweets-count  text-secondary mx-1"><%= tweet.retweets.count %></span>
      </div>
      
      <!-- Likes -->
      <div class="d-flex align-items-center">
        <%= button_to unlike_tweet_path(tweet), method: :delete, class: "border-0 badge rounded-pill text-dark p-0 m-0 #{@user_liked_tweet_ids&.include?(tweet.id) ? '' : 'd-none'} bg-transparent", data: { action: "click->likes#unlike", likes_target: "unlikeButton" } do %>
          <i class="fas fa-heart text-danger"></i>
        <% end %>

        <%= button_to like_tweet_path(tweet), method: :post, class: "border-0 badge rounded-pill  text-dark p-0 m-0 #{@user_liked_tweet_ids&.include?(tweet.id) ? 'd-none' : ''}  bg-transparent", data: { action: "click->likes#like", likes_target: "likeButton" } do %>
          <i class="far fa-heart text-secondary"></i>
        <% end %>

        <span class="likes-count p-0 mx-1  text-secondary bg-transparent" data-likes-target="likesCount"><%= tweet.likes.count %></span>
      </div>

      <!-- Reply Button -->
      <div class="d-flex align-items-center">
        <%= link_to tweet_path(tweet), class: "mx-2" do %>
          <i class="fas fa-comment  text-secondary"></i> <!-- Comment Icon -->
        <% end %>
        <span class="comments-count text-secondary"><%= tweet.comments.count %></span>
      </div>

      <!-- Views Count -->
      <div class="d-flex align-items-center">
        <i class="fas fa-eye text-secondary mx-2"></i> <!-- Views Icon -->
          <div data-controller="tweet" data-action="turbo:load->tweet#increment" data-tweet-id="<%= tweet.id %>">
          <span class="views-count text-secondary"><%= tweet.views_count %></span>
          </div>
      </div>

      <!-- Save to Favorites Button -->
      <div class="d-flex align-items-center">
        <%= link_to "#", class: "mx-2" do %>
          <i class="fas fa-bookmark text-secondary"></i> <!-- Save Icon -->
        <% end %>
      </div>

      <!-- Share Button -->
      <div class="d-flex align-items-center">
        <%= link_to "#", class: "mx-2" do %>
      <i class="fas fa-share-alt text-secondary"></i> <!-- Icône de partage avec un carré -->
        <% end %>
      </div>

    </div>

    <!-- Retweets affichés en cascade -->
    <% if tweet.retweets.any? %>
    <div class="retweets">
      <% tweet.retweets.each do |retweet| %>
        <%
=begin%>
 <p><%= retweet.user.name %> a retweeté ceci.</p> 
<%
=end%>
      <% end %>
    </div>
  <% end %>

</div>
