<%= turbo_stream.update "flash" do  %>
  <%= render "shared/flashes" %>
<% end %>

<!-- app/views/tweets/index.html.erb -->
<div id="flash">
  <%= render "shared/flashes" %>
</div>

<div class="container">
<%= render 'form', tweet: @tweet %>

<div id= "tweets" data-controller="tweets"> 
<%= render @tweets %>
</div>
</div>

