<div class="container py-5">
  <div class="card">
    <div class="card-body">
      <%= image_tag @user.avatar.variant(resize: "200x200").processed if @user.avatar.attached? %>
      <h1 class="card-title"><%= @user.username %></h1>
      <p class="card-text">Email: <%= @user.email %></p>

      <div class="banner">
        <%= image_tag @user.banner.variant(resize: "800x200").processed if @user.banner.attached? %>
      </div>

      <div class="bio">
        <% if @user.bio.present? %>
          <p class="card-text">Bio: <%= @user.bio %></p>
        <% end %>
      </div>

      <% if @user == current_user %>
        <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary mb-3' %>
      <% end %>

      <h3>Mes Tweets</h3>
      <div class="list mt-3">
        <%= render @tweets %>
      </div>

      <% if @user == current_user && @liked_tweets.any? %>
        <h4>Vous avez liké ces tweets</h4>
        <% @liked_tweets.each do |tweet| %>
          <p>
            <%= linkify_mentions(tweet.content) %>
            <span>&nbsp;</span>
            <%= link_to "@#{tweet.user.username}", user_path(tweet.user), class: "text-decoration-none" %>
          </p>
        <% end %>
      <% end %>

      <% if @user == current_user && @commented_tweets.any? %>
        <h4>Vous avez commenté ces tweets</h4>
        <% @commented_tweets.each do |tweet| %>
          <p>
            <%= linkify_mentions(tweet.content) %>
            <span>&nbsp;</span>
            <%= link_to "@#{tweet.user.username}", user_path(tweet.user), class: "text-decoration-none" %>
          </p>
        <% end %>
      <% end %>
    </div>

    <h3>Abonnements</h3>
    <div id="follow_button_<%= @user.id %>">
      <%= render "users/follow_button", user: @user %>
    </div>

    <h3>Followers</h3>
    <% if @followers.any? %>
      <% @followers.each do |follower| %>
        <p><%= link_to "@#{follower.username}", user_path(follower), class: "text-decoration-none" %></p>
      <% end %>
    <% else %>
      <p>Aucun follower</p>
    <% end %>

    <h3>Followings</h3>
    <% if @followings.any? %>
      <% @followings.each do |following| %>
        <p><%= link_to "@#{following.username}", user_path(following), class: "text-decoration-none" %></p>
      <% end %>
    <% else %>
      <p>Vous ne suivez personne</p>
    <% end %>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h3>Messages</h3>
<p><%= link_to 'Send Message', new_message_path(receiver_id: @user.id) %></p>
<%= link_to 'Voir mes messages', messages_path, class: 'btn btn-primary' %>

<%
=begin%>
 <ul>
  <% @user.friends.each do |friend| %>
    <li>
      <%= link_to friend.name, user_messages_path(friend) %>
    </li>
  <% end %>
</ul>

<!-- Section pour afficher les messages avec chaque ami -->
<% @user.friends.each do |friend| %>
  <% messages = @user.conversation_with_friend(friend) %>
  <h2>Conversation avec <%= friend.name %></h2>
  <ul>
    <% messages&.each do |message| %>
      <li>
        <%= message.content %>
        <% if message.sender == @user %>
          <small>(Envoyé par vous)</small>
        <% else %>
          <small>(Envoyé par <%= message.sender.name %>)</small>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= form_with(model: Message.new, url: user_messages_path(friend)) do |form| %>
    <%= form.text_field :content %>
    <%= form.hidden_field :receiver_id, value: friend.id %>
    <%= form.submit %>
  <% end %>
<% end %>



    </div>

</div>
 
<%
=end%>
